body {
  background-color: black;
  color: white;
}
.task-section {
  text-align: center;
  margin-top: 5rem;
}
h2 {
  text-align: center;
  font-size: 70px;
}
.games-container,
.stores-container {
  width: 80%;
  margin: auto;
  max-height: 30rem;
  overflow: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: space-between;
}
.games-container > div,
.stores-container > div {
  display: flex;
  gap: 2rem;
  width: 45%;
}
.games-container > h3,
.store-headline {
  font-size: 50px;
}
.games-container img,
.stores-container img {
  width: 60%;
  height: auto;
}
.game-desc,
.store-desc {
  display: flex;
  flex-direction: column;
}
.search-holder {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: fit-content;
  margin: 0 auto 4rem;
}
.platforms-container,
.developers-container {
  display: inline-flex;
  justify-content: space-between;
  list-style: none;
  width: fit-content;
  gap: 1em;
  padding: 0;
  margin-bottom: 3rem;
}
.search-options-container {
  text-align: center;
}
.search-option-list {
  padding: 0;
  display: inline-flex;
  gap: 3rem;
  width: fit-content;
  margin: 10rem auto 0;
  list-style: none;
}
.search-option-list li {
  cursor: pointer;
}
.search-option-list li:hover {
  color: gray;
}

#zad3,
#zad4,
#zad7,
#zad8 {
  display: none;
}

.searched-game-container {
  width: 75%;
  display: flex;
  margin: 0 auto;
  gap: 5rem;
}
.game-title {
  font-size: 40px;
}
.searched-game-container img {
  width: 45%;
  height: auto;
}

.games-from-developer-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: fit-content;
}

.developer-games-container {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.developer-games-container > div {
  width: 500px;
  display: flex;
}
.developer-games-container img {
  width: 50%;
  height: auto;
}

.gbd-overflow-container {
  width: 80%;
  margin: 0 auto;
  overflow: scroll;
}
